{% extends 'base.html' %}
{% load filters %}
{% block content %}
    <div class = "left">
        {% include 'addspell.html' %}<br>
        <div class = "card">
            <h3> {{character.name}}'s spells </h3>
            {% for spell in spells %}
            {% if spell.current_cooldown == 0 %}<img src="/static/ready.png">{% endif %}
            {% if spell.current_cooldown == 1 %}<img src="/static/almostready.png">{% endif %}
            {% if spell.current_cooldown >= 2 %}<img src="/static/notready.png">{% endif %}
                    lvl <b>{{spell.spell_level}}</b> Spell: <i>{{spell.name}}</i>

                    <br>
                    {% if spell.current_cooldown == 0 %}
                        <a href ="/cast/{{spell.id}}"><button class = "rdy">Cast {{spell.spellname}}  </button></a>
                    {% endif %}
                    {% if spell.current_cooldown != 0 %}
                        <button class = "notrdy"><del>Cast {{spell.spellname}}</del> </button>
                    {% endif %}
                    {% for z in spell_level|times %}
                        {% if spell.current_cooldown <= z %} <img src="/static/cd_green.png"> {% endif %}
                        {% if spell.current_cooldown > z %} <img src="/static/cd_red.png"> {% endif %}
                    {% endfor %}
                    <br><br>
            {% endfor %}
    	</div><br>
    	<div class = "card"> <br>
            <a href = "/takeTurn"><button type = "button"> Press at the end of your turn! (Always) </button></a><br>
        </div>
    </div>
    <div class = "right">
        {% include 'addItem.html' %}<br>
        <div class = "card">
            <h3> {{character.name}}'s Items and abilities </h3>
            {% for item in items %}
                {% if item.type == 1 %}<img src="/static/potion.png">{% endif %}
                {% if item.type == 2 %}<img src="/static/ring.png">{% endif %}
                {% if item.type == 3 %}<img src="/static/scroll.png">{% endif %}
                <i>{{item.name}}</i>   Uses:
                {# THIS WHOLE SECTION IS FOR DISPLAYING THE ITEM COOLDOWN THINGIES #}
                    {% if item.type == 1 %}
                        {% for cnt in item.current_uses|times %}<img src="/static/cd_green.png"> {% endfor %}
                    {% endif %}
                    {% if item.type == 2 %}
                        {% for cnt in item.uses|times %}
                            {% if cnt < item.current_uses %}<img src="/static/cd_green.png">{% endif %}
                            {% if cnt >= item.current_uses %}<img src="/static/cd_invalid.png">{% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if item.type == 3 %}
                        {% for cnt2 in item.uses|times %}
                            {% if cnt2 < item.current_uses%}<img src="/static/cd_green.png">{% endif %}
                            {% if cnt2 >= item.current_uses%}<img src="/static/cd_red.png">{% endif %}
                        {% endfor %}
                    {% endif %}

                {% if item.current_uses != 0 %}<a href = "/use/{{item.id}}"><button class = 'rdy'> Use {{item.name}} </button></a>{% endif %}
                {% if item.current_uses == 0 %}
                    {% if item.type == 2 %}<button class = 'notrdy'><del> Use {{item.name}} </del></button> {{item.name}} has lost it's charge!  find someone who can recharge it for you. {% endif %}
                    {% if item.type == 3 %} <button class = 'notrdy'><del> Use {{item.name}} </del></button> {{item.name}} is all used up for the day. Take a long rest to replenish it! {% endif %}
                {% endif %}<br>
            {% endfor %}
        </div><br>
        <div class = "card">
            <a href = "/rest" class = "left"onclick="return confirm('Are you sure you want to long rest?')"><button type = "button"> Take a long rest </button></a>
            <a href = "/recharge" class = "right"><button type = "button"> Recharge an item </button></a><br>
            <br>
        </div>
    </div>


{% endblock %}
